
h2{
    font-size:18px;
    color:#256c89;
    font-weight:normal;
    padding:0px 0 15px 0;
    margin:0px;
    clear:both;
}

#rounded-corner
{
    margin:0px;
    width: 900px;
    text-align: left;
    border-collapse: collapse;
}

#rounded-corner th
{
    padding: 8px;
    font-weight: normal;
    font-size: 13px;
    color: #039;
    background: #60c8f2;
}
#rounded-corner td
{
    padding: 8px;
    background: #ecf8fd;
    border-top: 1px solid #fff;
    color: #669;
}

