/************************************************\
==================================================
1. Body
2. Navbar
3. Home
4. Concept
5. MAP
6. Form
7. Footer
==================================================
\************************************************/


/************************************************\
==================================================
1. Body
==================================================
\************************************************/


html, body{
    /* IMPORTANT CSS used for positioning the footer at the bottom of the page. */
    height: 100%;
}

body {
    /* IMPORTANT CSS used for positioning the footer at the bottom of the page. */
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
    font-family: 'Lato', Lucida sans unicode, sans-serif;
}

@font-face {
    font-family: 'Legothick';
    src: url('../css/fonts/Legothick/Legothick.eot');
    src: url('../css/fonts/socicon/socicon.eot?#iefix') format('embedded-opentype'),
    url('../css/fonts/Legothick/Legothick.woff') format('woff'),
    url('../css/fonts/Legothick/Legothick.ttf') format('truetype'),
    url('../css/fonts/Legothick/Legothick.svg#icomoonregular') format('svg');

}

.section_title {
    margin-bottom: 30px;
    text-align: center;
    font-size: 2.5em;
    text-transform: uppercase;
    font-family: 'Legothick', Lucida sans unicode, sans-serif;
    color: #f7c001;
}


/************************************************\
==================================================
2. Navbar
==================================================
\************************************************/

.container_header {
    width:100%;
}


/* DESKTOP */
@media screen and (min-width: 768px) {
    /* Le nom du site n'apparait pas */
    .navbar-brand {
        display: none;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #000;
        font-family: 'Lato', Lucida sans unicode, sans-serif;
        font-size: 22px;
    }
}


/* MOBILE */
@media screen and (max-width: 768px) {
    /* la font-size de la navbar est diminuée */
    .navbar-inverse .navbar-brand {
        font-size: 10px;
    }
    .navbar-inverse .navbar-nav > li > a {
        font-size: 15px;
        color: #000;
    }
}

.navbar-toggle {
    background-color: #000;
}

/* border-color: white pour éviter un effet de décalage au survol des liens */
.navbar {
    background-color: #f7c001;
    border-color: #fff;
}

.navbar-custom {
    background-color: #f7c001 !important;
}

.navbar-inverse .navbar-brand {
    color: #000;
    font-family: 'Lato', Lucida sans unicode, sans-serif;
    font-size: 24px;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #000;
}

.navbar-brand:hover {
    color: #000 !important;
}

.layout_nav_item:hover {
    border-bottom: 5px solid #000;
}

.layout_nav_item {
    border-bottom: 5px solid #f7c001;
}

/* centrage de la navbar*/
.center.navbar .nav {
    float:none;
    display:inline-block;
    vertical-align: top;
}
.center  {
    text-align:center;
}

.nav > li > a {
    padding-left: 15px;
}






/************************************************\
==================================================
3. Home
==================================================
\************************************************/

.home_introduction {
    padding-bottom: 20px;
}

.home_img {
    width: 100%;
    margin-bottom: 80px;
}

.row_home {
    padding-bottom: 15px;
}

/************************************************\
==================================================
4. Concept
==================================================
\************************************************/
.concept_img {
    width: 100%;
}

.concept_about {
    margin-bottom: 20px;
}


/************************************************\
==================================================
5. MAP
==================================================
\************************************************/

iframe
{
    width:100%;
    margin-bottom: 55px;
}
/************************************************\
==================================================
5. Form
==================================================
\************************************************/

.container_contact {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.contact_input {
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-info {
    background-color: #f7c001;
    border: none;
    border-radius: 10px;
    color: #000;
}

.btn-info:hover {
    background-color: #f7c001;
    color: #fff;
}




/************************************************\
==================================================
7. Footer
==================================================
\************************************************/

.container_footer {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

footer {
    background-color: #f7c001;
    color: #000;
}

.menu{
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;

}

footer h5{
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}


.topic{
    color: #000;
    text-decoration: none;
}

.topic:hover{
    text-decoration: none;
    color: #fff;
}



.col_footer{
    text-align: center;
}

.social-networks{
    text-align: center;
    padding-top: 30px;
}


.grow:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}



@font-face {
    font-family: 'si';
    src: url('../css/fonts/socicon/socicon.eot');
    src: url('../css/fonts/socicon/socicon.eot?#iefix') format('embedded-opentype'),
    url('../css/fonts/socicon/socicon.woff') format('woff'),
    url('../css/fonts/socicon/socicon.ttf') format('truetype'),
    url('../css/fonts/socicon/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;
}



@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url('../css/fonts/socicon/socicon.svg') format('svg');
    }
}


.soc {
    margin:0;
    padding:0;
    list-style:none;
    text-align: center;
}

.soc li {
    display:inline;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:inline-block;
    position: relative;
    z-index: 1;
    width: 39px;
    height: 39px;
    line-height: 39px;
    font-size: 21px;
    -webkit-border-radius: 48px;
    -moz-border-radius: 48px;
    border-radius: 48px;
    margin-right: 29px;
    color: #000;
    background-color: #f7c001;
}


.soc-icon-last{
    margin:0 !important;
}

.soc-facebook:before {
    content:'\e041';
}
.soc-instagram:before {
    content:'\e057';
}
.soc-twitter:before {
    content:'\e040';
}

@media screen and (max-width: 767px){
    footer {
        text-align: center;
    }
    .list-brick-the-art{
        display: none;
    }
}


/*THE MODAL WINDOW FOR THE LEGAL MENTION*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#myBtn:hover{
    text-decoration: none;
    color: #fff;
}

.mentions-legales{
    font-family: 'Lato', Lucida sans unicode, sans-serif;
    color: #808080;
}



/* IMPORTANT CSS used for positioning the footer at the bottom of the page. */

.content{
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    min-height: 50px;
}

#myFooter{
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

.page-footer-brick{
    width: 10%;
    margin-left: 10px;
}

