

/*FOOTER*/

#Footer {
    background-color: white;
    color:black;
}

#Footer .footer-copyright{
    background-color: white;
    padding-top:3px;
    padding-bottom:3px;
    text-align: center;
}

#Footer .footer-copyright p{
    margin:10px;
    color: black;
}

#Footer ul{
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;

}

#Footer h5{
    font-size: 18px;
    color: black;
    font-weight: bold;
    margin-top: 30px;
}

#Footer a{
    color:black;
    text-decoration: none;
}

#Footer a:hover, #myFooter a:focus{
    text-decoration: none;
    color:grey;
}

#Footer .Col{
    text-align: center;
}

#Footer .social-networks{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 38px;
}

#Footer .social-networks a{
    font-size: 32px;
    margin-right: 5px;
    margin-left: 5px;
    color: #DE1738 ;
    padding: 10px;
    transition: 0.2s;
}

#Footer .social-networks a:hover{
    text-decoration: none;

}

#Footer .facebook:hover{
    color:yellow;
}

#Footer .instagram:hover{
    color:yellow;
}

#Footer .twitter:hover{
    color: yellow;
}

@media screen and (max-width: 767px){
    #myFooter {
        text-align: center;
    }
}



