/************************************************\
==================================================
1. Body
2. Navbar
3. Home
4. Concept
5. MAP
6. Form
7. Footer
==================================================
\************************************************/


/************************************************\
==================================================
1. Body
==================================================
\************************************************/


html{
    /* IMPORTANT CSS used for positioning the footer at the bottom of the page. */

    height: 100%;
}

body {
    /* IMPORTANT CSS used for positioning the footer at the bottom of the page. */
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
    font-family: 'Lato', sans-serif;
}

/************************************************\
==================================================
2. Navbar
==================================================
\************************************************/

.container_header {
    width:100%;
}


/* DESKTOP */
@media screen and (min-width: 768px) {
    /* Le nom du site n'apparait pas */
    .navbar-brand {
        display: none;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #000;
        font-family: 'Lato';
        font-size: 22px;
    }
}


/* MOBILE */
@media screen and (max-width: 768px) {
    /* la font-size de la navbar est diminuée */
    .navbar-inverse .navbar-brand {
        font-size: 10px;
    }
    .navbar-inverse .navbar-nav > li > a {
        font-size: 15px;
        color: black;
    }
}

.navbar-toggle {
    background-color: black;
}

/* border-color: white pour éviter un effet de décalage au survol des liens */
.navbar {
    background-color: #f7c001;
    border-color: white;
}

.navbar-custom {
    background-color: #f7c001 !important;
}

.navbar-inverse .navbar-brand {
    color: #000;
    font-family: 'Lato';
    font-size: 24px;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #000;
}

.navbar-brand:hover {
    color: #000 !important;
}

.layout_nav_item:hover {
    border-bottom: 5px solid #000;
}

.layout_nav_item {
    border-bottom: 5px solid #f7c001;
}

/* centrage de la navbar*/
.center.navbar .nav {
    float:none;
    display:inline-block;
    vertical-align: top;
}
.center  {
    text-align:center;
}

.nav > li > a {
    padding-left: 15px;
}

/************************************************\
==================================================
3. Home
==================================================
\************************************************/


/************************************************\
==================================================
4. Concept
==================================================
\************************************************/


/************************************************\
==================================================
5. MAP
==================================================
\************************************************/

iframe
{
    width:100%;
    height:100%;
}
/************************************************\
==================================================
5. Form
==================================================
\************************************************/


/************************************************\
==================================================
7. Footer
==================================================
\************************************************/

#brickfooter {
    background-color: #f7c001;
    color:black;
}

#brickfooter .footer-copyright{
    background-color: #f7c001;
    padding-top:10px;
    padding-bottom:10px;
    text-align: center;
}

#brickfooter .footer-copyright p{
    margin:10px;
    color: black;
}

#brickfooter ul{
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;

}

#brickfooter h5{
    font-size: 18px;
    color: black;
    font-weight: bold;
    margin-top: 20px;
}

#brickfooter a{
    color:black;
    text-decoration: none;
}

#brickfooter a:hover{
    text-decoration: none;
    color:white;
}

.footer-copyright a:hover {
    text-decoration: none;
    color:white;
}

.footer-copyright p {
    line-height: 1;
}

#brickfooter .Col{
    text-align: center;
}

#brickfooter .social-networks{
    text-align: center;
    padding-top: 30px;
}

#brickfooter .social-networks a{
    font-size: 32px;
    margin-right: 5px;
    margin-left: 5px;
    color: black;
    padding: 10px;
    transition: 0.2s;
}

#brickfooter .social-networks a:hover{
    text-decoration: none;
}

#brickfooter .facebook:hover{
    color:white;
}

#brickfooter .instagram:hover{
    color:white;
}

#brickfooter .twitter:hover{
    color: white;
}

@media screen and (max-width: 767px){
    #brickfooter {
        text-align: center;
    }
    .list-brick-the-art{
        display: none;
    }
}

/* IMPORTANT CSS used for positioning the footer at the bottom of the page. */

.content{
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    min-height: 50px;
}

#myFooter{
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}


