<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- FAVICON -->
    <link rel="icon" type="image/png" sizes="96x96" href="../public/assets/pictures/favicon-96x96.png">

    <!-- BOOTSTRAP LIBRARY-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="../public/assets/css/style_admin.css" />
    <link rel="stylesheet" href="../public/assets/css/niceforms-default.css" />



    <title>BrickTheArt Administration</title>


</head>
<body>

<div class="container">

    <h1>Bienvenue sur votre espace administrateur</h1>
<nav class="navbar navbar-default">
    <div class="container">
        <ul class="nav navbar-nav">
            <li><a href="index.php?page=admin">Accueil</a></li>
            <li><a href="index.php?page=logout" class="logout">Logout</a></li>
        </ul>
    </div>
</nav>
</div>


<div class="container">

    {% block body %}

    {% endblock %}

</div>


</body>
</html>
