    <!doctype html>
    <html lang="fr">
        <head>
            <meta charset="utf-8">

            <meta name="viewport" content="width=device-width, initial-scale=1">

            <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

            <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

            <link rel="stylesheet" type ="text/css" href="assets/css/style.css" />

            <title>Brick the Art</title>

        </head>


        <body>


            <header class="container">
                <div class="in-header">
                    <img src="../public/assets/pictures/banner.png" alt="banner" class="img-responsive center-block"/><div>
                            <ul>
                            <li><a href="index.php">Home</a></li>
                            <li><a href="index.php?page=concept">Concept</a></li>
                            <li><a href="index.php?page=bricktour">BrickTour</a></li>
                            <li><a href="index.php?page=contact">Contact</a></li>
                            </ul>
                        </div>
                </div>
            </header>


                {% block body %}

                {% endblock %}




            <!--Footer-->
                <div class="container">
                        <footer id="Footer">
                                    <div class="row">

                                        {#first column#}
                                        <div class="col-sm-4 Col">
                                            <h5>Brick The Art</h5>
                                                <ul>
                                                    <li><a href="index.php">Home</a></li>
                                                    <li><a href="index.php?page=concept">Le concept</a></li>
                                                    <li><a href="index.php?page=bricktour">Brick Tour</a></li>
                                                </ul>
                                        </div>

                                        {#second column#}
                                        <div class="col-sm-4 Col">
                                            <div class="social-networks">
                                                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                                <a href="#" class="facebook"><i class="fa fa-facebook-official"></i></a>
                                                <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                                            </div>
                                        </div>

                                        {#third column#}
                                        <div class="col-sm-4 Col">
                                            <h5>Contact</h5>
                                                <ul>
                                                    <li>+33 (0)1 44 00 00 00</li>
                                                    <li>11 rue de Poissy 75005 Paris</li>
                                                    <li><a href="index.php?page=contact">Nous contacter</a></li>
                                                </ul>
                                        </div>
                                    </div>

                                    <div class="footer-copyright">
                                        <p> © 2017 Copyright Lego </p>
                                        <p> Made by CAC </p>
                                    </div>
                        </footer>

                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
                <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

                </div>
        </body>
    </html>
