<footer>

    <div class="container container_footer">

        <div class="row row_footer">

            <div class="col-md-offset-1 col-md-2 col-sm-offset-1 col-sm-10 col_footer">
                <div class="list-brick-the-art">
                    <h5>Brick The Art</h5>
                    <ul>
                        <li><a href="index.php">Home</a></li>
                        <li><a href="index.php?page=concept">Le concept</a></li>
                        <li><a href="index.php?page=bricktour">Brick Tour</a></li>
                    </ul>
                </div>
            </div>



            <div class="col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-10 col_footer">
                <div class="social-networks">
                    <a href="https://twitter.com/nathansawaya" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com/thebrickartist" class="facebook" target="_blank"><i class="fa fa-facebook-official"></i></a>
                    <a href="https://www.instagram.com/lego/?hl=fr" class="instagram" target="_blank"><i class="fa fa-instagram"></i></a>
                </div>
            </div>


            <div class="col-md-offset-1 col-md-2 col-sm-offset-1 col-sm-10 col_footer">
                <h5>Contact</h5>
                <ul>
                    <li>{{ coordonnees.phone }}
                    </li>
                    <li>{{ coordonnees.adress}}
                    </li>
                    <li><a href="index.php?page=contact">Nous contacter</a></li>
                </ul>
            </div>

        </div>

        <div class="row row_footer">

            <div class="col-md-offset-4 col-md-4 col_footer">
                <a>Mentions légales</a>
                <p> © 2017 Copyright Lego </p>
                <p> Made by CAC </p>
                <a href="index.php?page=login">Espace administrateur</a>
            </div>
        </div>

    </div>

</footer>