{% extends 'layout_admin.html.twig' %}

{% block body %}


<h2>Ajouter une nouvelle Masterpiece</h2>

    <form method="post" action="index.php?section=admin&page=add_masterpiece" enctype="multipart/form-data">

        <label for="mon_fichier">Image (JPG, PNG| max. 1 Mo) :</label><br />
        <input type="hidden" name="MAX_FILE_SIZE" value="1048576" />
        <input type="file" name="image" id="mon_fichier" /><br />

        <label for="titre">Titre de l'image (max. 100 caractères) :</label><br />
        <input type="text" name="titre" value="Titre de l'image" id="titre" /><br />
        {% if errors.titre is defined %} {{ errors.titre }} {% endif %}

        <label for="description">Description de votre image :</label><br />
        <textarea name="description" id="description"></textarea><br />
        {% if errors.description is defined %} {{ errors.description }} {% endif %}
        <input type="submit" name="submit" value="Envoyer" />
    </form>


{% endblock %}
