{% extends 'layout_admin.html.twig' %}

{% block body %}

    <section>
        <h2>Articles page d'accueil</h2>
        <div class="form-group">
            <div class="row">
                <div class = "col-md-12">
                    <label for="content">Informations</label>
                    <textarea name="content" rows="8" cols="80" class="form-control" id="content"></textarea>
                </div>
            </div>
            <div class="row">
                <div class = "col-md-2">
                 <a href="#.php?" class="btn btn-primary" role="button">Modifier</a>
                 </div>
            </div>
        </div>
    </section>

    <section>
        <hr>
        <h2>Articles page concept</h2>
        <div class="form-group">
            <div class="row">
                <div class = "col-md-12">
                    <label for="content">The Concept behind BrickTheArt</label>
                    <textarea name="content" rows="8" cols="80" class="form-control" id="content"></textarea>
                </div>
            </div>
            <div class="row">
                <div class = "col-md-2">
                    <a href="#.php?" class="btn btn-primary" role="button">Modifier</a>
                </div>
            </div>
        </div>

        <h2>Ajouter une nouvelle Masterpiece</h2>

        <div class="form-group">
            <div class="row">
                <div class = "col-md-12">
                    <label for="content">Titre de l'image</label>
                    <textarea name="content" class="form-control" id="content"></textarea>
                </div>

                <div class = "col-md-12">
                    <label for="file">Image</label>

                    <form enctype="multipart/form-data" action="upload.php" method="post">

                        <input type="hidden" name="MAX_FILE_SIZE" value="1" />
                        <input name="userfile[]" type="file" multiple/>
                        <input type="submit" value="Envoyer le fichier" />

                    </form>

                </div>

                <div class = "col-md-12">
                    <label for="content">Description</label>
                <textarea name="content" rows="8" cols="80" class="form-control" id="content"></textarea>
                </div>

            </div>

                <div class="row">
                <div class = "col-md-2">
                    <a href="#.php?" class="btn btn-primary" role="button"> Ajouter</a>
                </div>
                </div>

            <h2>Liste des Masterpieces</h2>

            <table id="rounded-corner">
                <thead>
                <tr>

                    <th scope="col" class="rounded">Titre</th>
                    <th scope="col" class="rounded">Image</th>
                    <th scope="col" class="rounded">Description</th>
                    <th scope="col" class="rounded">Editer</th>
                    <th scope="col" class="rounded-q4">Supprimer</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><a href="#"><img src="../public/assets/pictures/admin/user_edit.png" alt="" title="" border="0" /></a></td>
                    <td><a href="#" class="ask"><img src="../public/assets/pictures/admin/trash.png" alt="" title="" border="0" /></a></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><a href="#"><img src="../public/assets/pictures/admin/user_edit.png" alt="" title="" border="0" /></a></td>
                    <td><a href="#" class="ask"><img src="../public/assets/pictures/admin/trash.png" alt="" title="" border="0" /></a></td>
                </tr>

                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td><a href="#"><img src="../public/assets/pictures/admin/user_edit.png" alt="" title="" border="0" /></a></td>
                    <td><a href="#" class="ask"><img src="../public/assets/pictures/admin/trash.png" alt="" title="" border="0" /></a></td>
                </tr>

                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td><a href="#"><img src="../public/assets/pictures/admin/user_edit.png" alt="" title="" border="0" /></a></td>
                    <td><a href="#" class="ask"><img src="../public/assets/pictures/admin/trash.png" alt="" title="" border="0" /></a></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><a href="#"><img src="../public/assets/pictures/admin/user_edit.png" alt="" title="" border="0" /></a></td>
                    <td><a href="#" class="ask"><img src="../public/assets/pictures/admin/trash.png" alt="" title="" border="0" /></a></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><a href="#"><img src="../public/assets/pictures/admin/user_edit.png" alt="" title="" border="0" /></a></td>
                    <td><a href="#" class="ask"><img src="../public/assets/pictures/admin/trash.png" alt="" title="" border="0" /></a></td>
                </tr>

                </tbody>
            </table>


    </section>

    <section>
        <hr>
        <h2>Coordonnées</h2>
        <div class="form-group">

            <div class="row">
                <div class = "col-md-4">
                    <label for="phone">Téléphone</label>
                    <input name="phone" type="text" class="form-control" id="">
                </div>
                <div class = "col-md-2">
                    <a href="#.php?" class="btn btn-primary" role="button">Modifier</a>
                </div>
            </div>

            <div class="row">
                <div class = "col-md-4">
                    <label for="address">Adresse</label>
                    <input name="address" type="text" class="form-control" id="">
                </div>
                <div class = "col-md-2">
                    <a href="#.php?" class="btn btn-primary" role="button">Modifier</a>
                </div>
            </div>

            <div class="row">
                <div class = "col-md-4">
                    <label for="hours">Horaires</label>
                    <input name="hours" type="text" class="form-control" id="">
                </div>
                <div class = "col-md-2">
                    <a href="#.php?" class="btn btn-primary" role="button">Modifier</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}