{% extends 'layout_admin.html.twig' %}

{% block body %}


<h2>Coordonnées</h2>

    <form method="post" action="index.php?page=edit_contact">
<div class="form-group">

    <div class="row">
        <div class = "col-md-4">
            <label for="phone">Téléphone</label>
            <input name="phone" type="text" class="form-control" id="phone" value="{{ coordonnees.phone }}">
        </div>

    </div>

    <div class="row">
        <div class = "col-md-4">
            <label for="address">Adresse</label>
            <input name="address" type="text" class="form-control" id="address" value="{{ coordonnees.adress }}" >
        </div>

    </div>

    <div class="row">
        <div class = "col-md-4">
            <label for="hours">Horaires</label>
            <input name="hours" type="text" class="form-control" id="hours" value="{{ coordonnees.opening}}">
        </div>
    </div>
    <div class = "col-md-2">
        <button type="submit" class="btn btn-primary" role="button">Modifier</button>
    </div>
</div>
    </form>
{% endblock %}