{% extends 'layout_admin.html.twig' %}

{% block body %}
<section>
    <h2>Articles page d'accueil</h2>
    <div class="form-group">
        <div class="row">
            <div class = "col-md-12">
                <label for="content">Informations</label>
                <textarea name="content" rows="8" cols="80" class="form-control" id="content"></textarea>
            </div>
        </div>
        <div class="row">
            <div class = "col-md-2">
                <a href="#.php?" class="btn btn-primary" role="button">Modifier</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}