{% block body %}

    <h2 class="section_title">Vous êtes bien déconnecté ! </h2>


    <!--on dispose d'un bouton pour retourner en page d'accueil du site-->

    <a href="index.php">
        <div class="btn_success btn_yellow">Retourner à la page d'accueil du site</div>
    </a>

{% endblock %}