{% extends 'layout.html.twig' %}

{% block body %}

    <div class="container">

    <section class="tour_map">

        <h2 class="section_title">The BrickTour!</h2>

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2625.479181372269!2d2.3504115156740353!3d48.84907227928652!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e671e4fa5fdbf9%3A0x5dcb5a09cff26472!2s11+Rue+de+Poissy%2C+75005+Paris!5e0!3m2!1sfr!2sfr!4v1511361723274" width="800" height="550" frameborder="0" style="border:0" align="middle" allowfullscreen></iframe>

    </section>

    </div>
{% endblock %}