{% extends 'layout.html.twig' %}

{% block body %}

    <!-- CONTAINER -->
    <div class="container">

        <section class="concept_about">

            <h2 class="section_title">The Concept behind BrickTheArt</h2>

            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>


        </section>


        <section class="concept_news">

            <h2 class="section_title">Articles</h2>

            <!-- ROW 1 -->
            <div class="row"

            <div class="concept_article">
                <div class="concept col-md-6 col-xs-6">

                    <h3 class="article_title">Titre article 1</h3>

                    <figure>
                        <img src="http://www.arrl.org/images/view/News/this-is-only-a-test.jpg" alt="#"/>
                    </figure>

                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                </div>

                <div class="concept_article">
                    <div class="concept col-md-6 col-xs-6">

                        <h3 class="article_title">Titre article 2</h3>

                        <figure>
                            <img src="http://www.arrl.org/images/view/News/this-is-only-a-test.jpg" alt="#"/>
                        </figure>

                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>

                    </div>
                </div>
                <!-- END ROW 1 -->

                <!-- ROW 2 -->
                <div class="row"

                <div class="concept_article">
                    <div class="concept col-md-6 col-xs-6">

                        <h3 class="article_title">Titre article 1</h3>

                        <figure>
                            <img src="http://www.arrl.org/images/view/News/this-is-only-a-test.jpg" alt="#"/>
                        </figure>

                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                    </div>

                    <div class="concept_article">
                        <div class="concept col-md-6 col-xs-6">

                            <h3 class="article_title">Titre article 2</h3>

                            <figure>
                                <img src="http://www.arrl.org/images/view/News/this-is-only-a-test.jpg" alt="#"/>
                            </figure>

                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>

                        </div>
                    </div>
                    <!-- END ROW 2 -->


        </section>
    </div>
{% endblock %}